<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Welcome {{user.first_name}}</h1>
    <div class="text-right"><a href="/logout">Logout</a></div>
    <h3 style="margin-top:70px">Games You've Played</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Games</th>
                <th scope="col">Cheat Codes Tried</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% if game_data %}
            {% for id in game_data %}
            <tr>
                <td>{{ game_data[id]['game'].title }} ({{ game_data[id]['game'].release_year }})</td>
                <td><a href="/show_cheats/{{id}}">{{ game_data[id]['tried'] }} out of {{ game_data[id]['total_cheats'] }}</a></td>
                <td><a href="/display_game/{{id}}">show</a> | <a href="/unplay_game/{{id}}">unplay</a>{% if game_data[id] == user.id %} | <a href="/edit_game/{{id}}">edit</a> | <a href="/delete_game/{{id}}">delete from DB</a>{% endif %}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
		<a href="/play_game" style="margin-right:20px">+ play new game</a>
</body>
</html>