<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-around">
        <form class="col-4 p-4 bg-dark text-light">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" name="title" class="form-control" readonly="readonly" readonly="readonly" value="{{ game.title }}">
            </div>
            <div class="form-group">
                <label for="release_year">Release Year:</label>
                <input type="number" name="release_year" class="form-control" readonly="readonly" value="{{ game.release_year }}">
            </div>
        </form>       
    </div>
</body>
</html>