<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-around">
        <form class="col-4 p-4 bg-dark text-light">
            <div class="form-group">
                <label for="titel">Title:</label>
                <input type="text" name="title" class="form-control" readonly="readonly" readonly="readonly" value="{{ show.title }}">
            </div>
            <div class="form-group">
                <label for="network">Network:</label>
                <input type="text" name="network" class="form-control" readonly="readonly" value="{{ show.network }}">
            </div>
            <div class="form-group">
                <label for="release_date">Release Date:</label>
                <input type="date" name="release_date" class="form-control" readonly="readonly" value="{{ show.release_date }}">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea name="description" class="form-control" rows="4" cols="50" readonly="readonly">{{ show.description }}</textarea>
            </div>
            <div class="form-group">
                <label for="posted_by">Posted by:</label>
                <input type="text" name="posted_by" class="form-control" readonly="readonly" value="{{ posted_by }}">
            </div>
        </form>       
    </div>
</body>
</html>