<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-around">
        <form action="{{ request.url }}" method="post" class="col-4 p-4 bg-dark text-light">
            <h2 class="text-primary">Create Game</h2>
            {% with messages = get_flashed_messages(category_filter=['game']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Flash AHHHHHHH!!!!</strong>
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class="form-group">
                <label for="title">Title:</label>
                <!-- <input type="text" name="title" class="form-control"> -->
                <select name="game_id" class="form-control">
                {% for game in games %}
                    <option value="{{game.id}}">{{game.title}}</option>
                {% endfor %}
                </select>
            </div>
            <input type="submit" value="play" class="btn btn-primary">
            <p>
                <br>
                is your game not listed above?
                <a href="/create_game">add new game</a>
            </p>
        </form>
        

    </div>
</body>
</html>